@model Fornecedores
@{
    ViewData["Title"] = "Cadastro de Fornecedores";
}

<div class="text-center">

    <h1>Cadastrar fornecedor</h1>

</div>

<form asp-controller="Fornecedores" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" maxlength="100" asp-for="Nome" class="form-control" placeholder="Digite o nome do fornecedor">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="form-group">
        <label for="Cnpj">CNPJ</label>
        <input type="text" maxlength="14" pattern="[0-9]{14,14}" asp-for="Cnpj" class="form-control" placeholder="Digite o CNPJ do fornecedor">
        @Html.ValidationMessageFor(x => x.Cnpj)
    </div>

    <br />

    <div class="form-group">
        <select asp-for="Especialidade" class="form-select">
            <option value="Comércio">Comércio</option>
            <option value="Serviço">Serviço</option>
            <option value="Indústria">Indústria</option>
        </select>
        @Html.ValidationMessageFor(x => x.Especialidade)
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a class="btn btn-secondary" asp-controller="Fornecedores" asp-action="Index" role="button">Voltar</a>

</form>
